/*Normalize*/
:root {
    font-size: 14px;
    --accent-color: rgb(0, 255, 85);
    --secondary-color: rgb(4, 98, 35);

    background-color: var(--secondary-color);
}

/*Table*/
table {
    border-collapse: collapse; 
    background-color: var(--accent-color);
    width: 100%; 
    border-radius: 10px;
}


tr, th, td {
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
}

/*Buttons*/

button {
    margin: 10px auto;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(10, 40, 160);
}

button:hover {
    transform: translateY(-2px);
}

button:active {
    transform: translateY(4px);
}

.delete-btn, .toggle-read {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 10px;
    padding: 0.5rem;
}

.new-book-btn, #submit{
    color: var(--accent-color);
    background-color: white;
    font-weight: 700;
}


/*Form*/

.form-wrapper {
    border: 2px solid #ccc;
    border-radius: 10px;    
    background-color: #fff;
    padding: 10px;
    background-color: var(--accent-color);
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;

}

form > p > label {
    display: inline-block;
    color: var(--secondary-color);
    width: 80px;
    text-align: right;
}

form input {
    border: none;
    outline: none;
    border-radius: 0.3rem;
}

form input:focus {
    border: 2px solid blue;
}

form input:user-invalid {
    border: 2px solid red;
}